*{
    margin: 0;
    padding: 0;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
:root{
    --rosado: #E71D73;
    --rosado-oscuro: #C51560;
    --celeste: #3399FF;
    --blanco: #FFFFFF;
    --gris-claro: #F8F8F8;
    --gris-medio: #D9D9D9;
    --gris-transparente: #f7f7f7b3;
    --gris-oscuro: #333333;
    --negro: #121212;
}
body, html {
    height: 100%;
    background-color: var(--gris-transparente);
    overflow: hidden;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: var(--gris-oscuro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--blanco);
    z-index: 200;
}
.header-a {
    margin-left: 1.2%;
    cursor: pointer;
}

.header-b {
    margin-right: 1.2%;
    color: var(--blanco);
    gap: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#asideBar {
    width: 15%;
    height: 100vh;
    background-color: var(--gris-medio);
    color: var(--gris-oscuro);
    box-shadow: 2px 0 10px var(--gris-oscuro);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 150;
}

#bar {
    position: sticky;
    top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    width: 100%;
    height: 15%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cesdelogo{
    width: 150%;
}

.pImglogo{
    font-size: 130%;
    font-weight: 600;
}

nav{
    width: 90%;
    margin-top: 36%;
}

.lista {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item{
    list-style: none;
    text-align: center;
}

aside a {
    height: 100%;
    padding: 8%;
    text-decoration: none;
    color: var(--gris-oscuro);
    border-radius: 5px;
    display: block;
    transition: background 0.3s;
}

aside a:hover {
    background-color: var(--gris-claro);
}
main {
  position: fixed;
  top: 60px;
  left: 15%;
  width: 85%;
  height: calc(100vh - 60px);
  background-color: transparent;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#sections {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 1rem;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
#sections::-webkit-scrollbar {
  width: 8px;
}
#sections::-webkit-scrollbar-thumb {
  background: var(--rosado);
  border-radius: 5px;
}
#sections::-webkit-scrollbar-thumb:hover {
  background: var(--rosado-oscuro);
}
#Configuracion, #Ocupaciones, #Reservas {
  width: 95%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Configuracion {
    height: 20%;
}
.listaConfig {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--blanco);
  box-shadow: 0 2px var(--gris-medio);
  border-radius: 5px;
  padding: 0;
  overflow: hidden;
}
.tabla-encabezados {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.tabla-encabezados thead {
    position: sticky;
    top: 0;
    background-color: var(--rosado);
    color: var(--blanco);
    z-index: 2;
}
.tabla-encabezados tbody{
  display: block;
  height: 10vh;
  overflow-y: auto;
  scrollbar-width: thin;
  width: 100%;
}
.tabla-encabezados thead, 
.tabla-encabezados tbody tr {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.tabla-encabezados th, .tabla-encabezados td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid var(--gris-medio);
  word-wrap: break-word;
  box-sizing: border-box;
}